@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-900 dark:bg-gray-100 text-gray-100 dark:text-gray-900;
    font-family: 'Quicksand', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-gray-50 dark:text-gray-900 tracking-tight;
  }
}


@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
  
  .animate-float-delayed {
    animation: float 8s ease-in-out 1s infinite;
  }
  
  .animate-float-slow {
    animation: float 10s ease-in-out 2s infinite;
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  
  .animate-tilt {
    animation: tilt 10s infinite linear;
  }

  .perspective-1000 {
    perspective: 1000px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tilt {
  0%, 100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.iconWrapper:hover {
  transform: translate(-50%, -50%) scale(1.2) rotateZ(3deg);
  z-index: 99;
}
.label {
  font-size: 0.7rem;
  margin-top: 4px;
  color: white;
}
